PORT = 5000
MONGO_URI = mongodb://localhost:27017/shopnest-mern
JWT_SECRET= kchvblkshdbflidshbfkjasbdlkfhbl
EMAIL_USER = rudrastar2005@gmail.com
EMAIL_PASS = pkpn kiow bnse gfam 
CLOUDINARY_CLOUD_NAME = dz1agjkgs
CLOUDINARY_API_KEY = 692428153321619
CLOUDINARY_API_SECRET = h1AVQv8Tu3o97eE65Z4oCIdyUYU
RAZORPAY_KEY_ID = rzp_test_T8A0ifi7BYrqbV
RAZORPAY_KEY_SECRET = CeLdqKY5lS6EKICtMEjfDGhC